<a href="https://colab.research.google.com/github/qusaysellat/Coursera_Capstone/blob/master/Capstone_Week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Capstone Week3
This notebook is the peer-reviewd assignment of the 3rd week of Coursera's capstone course - IBM data science certificate.

In [0]:
# import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [0]:
# read existing tables in the provided link
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', header=0)

In [3]:
# take the first table as it contains the data we need
df=df[0]
df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [4]:
# determine the Not assigned Boroughs in order to ignore them
where_to_ignore = df['Borough']!='Not assigned'
where_to_ignore

0      False
1      False
2       True
3       True
4       True
       ...
282     True
283     True
284     True
285     True
286    False
Name: Borough, Length: 287, dtype: bool

In [5]:
# ignore Not assigned Boroughs
df=df[where_to_ignore]
df

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M6A        North York          Lawrence Heights
6        M6A        North York            Lawrence Manor
..       ...               ...                       ...
281      M8Z         Etobicoke  Kingsway Park South West
282      M8Z         Etobicoke                 Mimico NW
283      M8Z         Etobicoke        The Queensway West
284      M8Z         Etobicoke     Royal York South West
285      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [6]:
# reindex to reflect the change
df.reset_index(drop=True, inplace=True)
df

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M6A        North York          Lawrence Heights
4        M6A        North York            Lawrence Manor
..       ...               ...                       ...
205      M8Z         Etobicoke  Kingsway Park South West
206      M8Z         Etobicoke                 Mimico NW
207      M8Z         Etobicoke        The Queensway West
208      M8Z         Etobicoke     Royal York South West
209      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

In [7]:
# see if there are Neighbourhoods that are Not assigned
uniques = df['Neighbourhood'].unique()
'Not assigned' in uniques

True

In [0]:
rows, cols = df.shape

In [9]:
rows

210

In [10]:
cols

3

In [0]:
# set Not assigned Neighbourhoods to the corresponding Borough 
for i in range(rows) :
  if df.iloc[i, 2] == 'Not assigned':
    df.iloc[i, 2] = df.iloc[i, 1]

In [15]:
# check again
uniques = df['Neighbourhood'].unique()
'Not assigned' in uniques

False

In [16]:
# check shape as asked in the assignment
df.shape

(210, 3)